.tt-identity-header {
  display: flex;
  align-items: center;
  padding: 0.462rem 0.615rem 0.308rem;
}

.tt-identity-header > * + * {
  margin-left: 0.615rem;
}

.tt-identity-icon {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}

.tt-identity-title {
  font-family: var(--font-header);
  font-size: 1.05rem;
  font-weight: 600;
  color: var(--text-bright);
  letter-spacing: 0.023rem;
  line-height: 1.1;
}
